<%- include('../partials/header') %>

<a href="/">Home</a>
<h1>Skills</h1>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      - 
      <%= s.done ? 'done' : 'not done' %>
    </li>
      <% }); %>
    </ul>
    
    <%- include('../partials/footer') %>